.box-container{
    display: flex;
    justify-content: center;  
    align-items: center; 
    height: 100vh;       
}

.box{
    width: 1150px;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 30px;
}