
.Navbar {
        width: 100%;
        display: flex;
        justify-content:flex-end; 
        margin-right: 50px;
        background-color: #0c0c0c; 
        padding: 10px 20px; 
    }
    
    .Navbar a {
        color: white; 
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
        transition: color 0.3s;
    }
    
    .Navbar a:hover {
        color: #00ffcc; 
    }
    